{% extends 'base.html.twig' %}
{% block title 'homepage' %}
{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem ipsum dolor...</p>
    </div>
    <div class="container">
        <div class="row flex">
            {% for property in properties %}
                <div class="col-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="#">{{property.title}}</a>
                            </h5>
                            <p class="card-text">{{property.city}} ({{property.postalcode}})</p>
                            <p class="text-primary">{{property.formattedPrice}} €</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}